.main-container {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0;
    border: #c387ff 3px solid;
    border-radius: 4px;
}

/*Title Stuff*/
.title-container {
    border-bottom: #c387ff 3px solid;
    width: 100%;
}
.site-title-container {
    width: 100%;
}

.site-title {
    background-color: #624cab;
    width: 100%;
}

.site-title-text {
    display: inline-block;
    padding: 0.3rem;
    font-size: xx-large;
    justify-content: right;
    color: #c186fe;
    text-shadow: #605757 -1px 1px 1px,
    #191237 -2px 2px 2px,
    #050000 -3px 3px 3px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #bf85fc;
    margin: 6px 0;
    transition: 0.4s;
}

.change-drop .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change-drop .bar2 {
    opacity: 0;
}

.change-drop .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.title-content-drop-container {
    display: inline-block;
    float: right;
    position: relative;
    top: 5px;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}

.title-content-drop-container:hover * {
    background-color: white;
}

.extra-menu-container {
    display: flex;
    flex-direction: column;
}

#extra-menu-context {
    border-top: #c387ff 3px solid;
    background: #191237;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    /*Leave it display NONE by default!*/
    display: none;
}

#extra-menu-context h1, h2, h3, h4, h5, h6 {
    font-weight: bolder;
    color: whitesmoke;
    border-bottom: #c387ff 1px solid;
}

#extra-menu-context p {
    font-size: large;
    color: whitesmoke;
}

#extra-menu-context a {
    text-decoration: none;
    font-style: italic;
    color: white;
}

#extra-menu-context a:hover {
    text-decoration: none;
    color: #c387ff;
}


.map-tool-buttons {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: row;
    background: #191236;
    border: #624cab 1px solid;
    gap: 1rem;
}

.dropdown {
    background-color: #634dab;
    color: white;
    font-size: 1rem;
    line-height: 2rem;
    border: none;
    cursor: pointer;
    text-align: center;
}

.dropdown-btn {
    width: 3cm;
}

/*Map coloring*/
#radio-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: #624cab;
    border-style: none;
}

#radio-list-inputs {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 1px;
    bottom: 0px;

}
#radio-list-inputs input[type="radio"] {
    accent-color: #c387ff;
}

/*GEOJSON OVERLAY*/
.mapPath {
    fill: #000;
    fill-opacity: .1;
    /*stroke: #000000;*/
    stroke: #6e46b4;
    stroke-width: 1px;
    pointer-events: all;
}

.map-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

#map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    /*https://calculateaspectratio.com/*/
    /*4:3*/
    width: 100%;
    height: 85vh;
}

/*Turn off cringe leaflet banner*/
div.leaflet-control-attribution.leaflet-control {
    display: none;
}


.legend {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 18px;
    color: #555;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 0.5rem;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    opacity: 0.7;
}

.legend i:hover {
    border: #6e46b4 1px solid;
}

.legend b {
    width: fit-content;
    font-size: small;
}


/*Tooltip*/
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}



.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #191237;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}



.context-bar {
    display: flex;
    flex-direction: row;
    background: #191236;
    border: #c387ff 1px solid;
    flex-wrap: wrap;

}

.context-bar-item {
    display: flex;
    flex-direction: column;
    width: fit-content;
    /*width: 12rem;*/
    padding-right: 0.2rem;
}

.content-bar-item-button {
    background-color: #634dab;
    color: white;
    border: 0px solid;
    line-height: 2rem;
}


.float-window {
    z-index: 9000;
    top: 10%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    /*SEE size in mKScatter*/
    width: fit-content;
    padding-bottom: 0;
    background: #191236;

}

.float-window-nav {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    line-height: 2rem;
    cursor: all-scroll;
}

.float-window-nav-title {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-items: center;*/
    /*justify-content: center;*/
    display: inline-block;
    width: 100%;
    font-size: 36px;
    text-align: center;
    padding-left: 30px;
    color: #c387ff;
    background: #191236;

}

.float-window-nav-btns {
    display: flex;
    float: right;
}

.float-window-indv-buttons {
    border: #c387ff 2px solid;
    border-radius: 5px;
}

.float-window-content {
    width: fit-content;
    /*APPLY TO SVG*/
    /*overflow: auto;*/
    /*resize: both;*/
}



